.pantry {
  height: 80px;
  width: 70px;
  background: #fff;
  border: 1px solid rgb(228, 228, 228);  padding: .5rem;
  margin: .2rem;
  border-radius: .2rem;
  cursor: grab;
}

.pantry-title {
  font-size: 13px;
}