.section-title {
  margin-bottom: 0;
  margin-top: .5rem;
}
.stations-container{
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: .5rem 0;
  justify-content: space-between;
}

.img-block {
  text-align: center;
  height: 80px;
  width: 70px;
  overflow: hidden;
}

.img-block img {
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}
