.section-title {
  margin-bottom: 0;
  margin-top: .5rem;
}
.pantries-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  padding: .5rem 0;
}

.orders-container::-webkit-scrollbar {
  display: none;
}

.orders-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

